<!-- <select *ngIf="dataLoaded!=false" class="form-select form-select-lg mb-3" 
        aria-label=".form-select-lg example">
        
        <li (click) = "setCurrentColor(color)"
        *ngFor="let color of colors"
        routerLink = "cars/color/{{color.colorId}}"
        [class]="getCurrentColor(color)">
            <option selected>All Colors</option>
            <option selected>{{color.colorName}}</option>
            
        </li>
  </select>

   <ul *ngIf="dataLoaded!=false" class="list-group">
    <li (click) = "setCurrentBrand(brand)"
         routerLink = "cars/brand/{{brand.brandId}}"
         *ngFor="let brand of brands"
        [class]="getCurrentBrand(brand)"
    >{{brand.brandName}}</li>
</ul> -->