<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">RentCar</a>

  <div *ngIf="isAuth()">
    <div>
      <div class="btn-group " style="height: 45.5px; left: 10.8cm;" role="group">
        <button type="button" class="btn btn-outline-secondary" routerLink="cars/list">Cars</button>
        <button class="btn btn-outline-secondary" routerLink="brands/list">Brands</button>
        <button class="btn btn-outline-secondary" routerLink="colors/list">Colors</button>
      </div>
    </div> 
  </div>
   

    <div *ngIf="isAuth()">
      <div class="dropdown">
        <button
          class="btn btn-secondary"
          type="button"
          id="dropdown-user"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div *ngIf="userProfilePhoto" class="dropdown-toggle">
            <span class="m-2">Hi {{ user.firstName }}</span>
            <img
              src="{{ baseUrl }}carimages/{{ userProfilePhoto.imagePath }}"
              alt="..."
              width="32"
              height="32"
              class="rounded-circle"
            />
          </div>

          <div *ngIf="!userProfilePhoto" class="dropdown-toggle">
            <span class="m-2">Hi {{ user.firstName }}</span>
            <img
              src="{{ baseUrl }}carimages/default-user-image.png"
              alt="..."
              width="32"
              height="32"
              class="rounded-circle"
            />
          </div>
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdown-user">
          <li>
            <a class="dropdown-item" routerLink="/users/{{ user.id }}/profile"
              >Profile</a
            >
          </li>
          <li><a class="dropdown-item" routerLink="/users/{{ user.id }}/payments">Payments</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" (click)="logOut()">Sign Out</a></li>
        </ul>
      </div>
    </div>
    <div *ngIf="!isAuth()">
      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-dark me-2"
          routerLink="/login"
        >
          Login
        </button>
        <button type="button" class="btn btn-secondary" routerLink="/register">
          Sign up
        </button>
      </div>
    </div>
  </div>
</nav>
