<div
  class="d-flex justify-content-center rounded-pill"
  style="background-color: whitesmoke; height: 6cm; width: 11cm"
>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div class="p-fluid p-formgrid p-grid">
        <form [formGroup]="passwordUpdateForm">
          <div class="p-field p-md-2 p-grid" style="margin-top: 10px">
            <span class="p-float-label p-col-fixed">
              <input
                id="input-old-password"
                type="password"
                class="form-control"
                style="width: 95%"
                formControlName="oldPassword"
              />
              <label for="input-old-password">Old Password</label>
            </span>
          </div>

          <div class="p-field p-md-2 p-grid" style="margin-top: 5px">
            <span class="p-float-label p-col-fixed">
              <input
                id="input-new-password"
                type="password"
                class="form-control"
                style="width: 95%"
                formControlName="newPassword"
              />
              <label for="input-new-password">New Password</label>
            </span>
          </div>
        </form>
      </div>
      <div class="card">
        <button
          type="button"
          (click)="update()"
          label="Update"
          class="btn btn-primary"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
