
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-dark m-4"
  role="status"
></div>
<div class="col-md-12">
<div class="row">
<div class="col-md-3"><app-car-filter></app-car-filter></div>
<div class="col-md-9">
<div
      class="d-flex flex-wrap justify-content-start"
      style="gap: 0.85em;"
      >
      <div *ngFor="let car of cars" class="card stretched-link" style="width: 18rem;" routerLink = "/cars/details/{{car.carId}}">      
        <div>
          <div *ngIf="car.imagePath">
            <img src="{{baseUrl}}carimages/{{car.imagePath}}"class="card-img-top" style="height: 13rem" alt="...">
          </div>
          <div *ngIf="!car.imagePath">
            <img src="https://localhost:44377/carimages/images.png" alt="...">
          </div>
        </div> 

          <div class="card-body">
            <h5 class="card-title text-center">{{car.carName}}</h5>
            <p class="card-text text-center">{{car.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{car.brandName}}</li>
            <li class="list-group-item text-center">{{car.colorName}}</li>
            <li class="list-group-item text-center">{{car.dailyPrice | currency: "$":"symbol-narrow":"1.2-2"}} / day </li>
            <li class="list-group-item text-center">Credit Score : {{car.creditScore}}</li>
          </ul>
        </div>
  </div>
</div>
</div>
</div>