<div class="row">
  <div class="col-md-8">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleDark" *ngFor="let li of images; let i = index" [attr.data-bs-slide-to]="i" [class]="i == 0 ? 'active' : ''"></li>
    </ol>


    <div class="carousel-inner">
      <div *ngFor="let image of images" [class]="getCurrentImageClass(image)" data-bs-interval="3000">
        <img src="{{imageUrl}}/carimages/{{image.imagePath}}" class="d-block w-100" alt="...">
      </div>
  
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  </div>
    <div class="col-md-4">
      <div  class="card">
        <div class="card-body">
          <h5 class="card-title">
            <strong> {{ this.car.carName }}</strong>
          </h5>
          <p class="card-text">{{ car.description }}</p>
        </div>
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Brand : {{ this.car.brandName }}</li>
          <li class="list-group-item">Model : {{ this.car.modelYear }}</li>
          <li class="list-group-item">Color : {{ this.car.colorName }}</li>
          <li class="list-group-item">
            Daily Price : {{ this.car.dailyPrice }} TL
          </li>
          <div class="card-body">

          <div class="d-grid gap-2 mb-2" *ngIf="car.status == true">
              <app-rental [car]="car"></app-rental>
          </div>
          <div class="d-grid gap-2 mb-2" *ngIf="car.status == false">
              <div class="alert alert-danger">Car can't be rent.</div>
          </div>
  
          </div>
        </ul>
        </div>
        <div class="card-body">
          <button
            routerLink="/cars"
            (click)="getBack()"
            type="button"
            class="btn btn-primary ms-2" 
            style="width: 240px;">
            Back
          </button>
        </div>
    </div>
  
</div>

