<div class="mb-3">
    <br>
     <input
     
       type="text"
       class="form-control"
       id="colorFilter"
       placeholder="Search Color"
       [(ngModel)]="filterText"
     />
   
 </div>
 <table class="table m-4">
     <thead>
       <tr class="table">
         <th>Color</th>
         <th><app-color-add></app-color-add></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let color of colors | colorFilter:filterText"
       >
        <td>{{color.colorName}}</td>
        <td><button type="button" class="btn btn-success" style ="width: 85px;" routerLink = "/cars/color/{{color.colorId}}">Go</button></td>
        <td><button type="button" class="btn btn-warning " style="width: 85px;" routerLink = "/colors/update/{{color.colorId}}">Edit</button></td>
        <td><button type="button" class="btn btn-danger" style="width: 85px;" (click)="deleteColor(color)">Delete</button></td> 
       </tr>
     </tbody>
   </table>

